body {
    background-image:  linear-gradient(to right, deepskyblue, midnightblue);
}

a {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 50px;
}

.jumbotron {
    background-image: url("http://2.bp.blogspot.com/_HOCuXB2IC34/TR2rWjhn0jI/AAAAAAAAG0E/OxZc5jXRqAE/s1600/35+sea+creature+%2528www.cute-pictures.blogspot.com%2529.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    background: white;
    text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-brand {
    font-size: 30px;
    margin-right: 50px;
}

p {
    text-align: center;
}

.card-text {
    font-size: 12px;
    text-align: center;
}

#title {
    font-family: 'Kaushan Script', cursive;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(95,158,160,0.7);
    font-size: 100px;
}

.navbar-light .navbar-toggler {
    background-color: midnightblue;
    border: 2px solid darkblue;
}

.fa-water {
    color: royalblue;
}

.fa-list {
    color: deepskyblue;
}

h3 {
    font-size: 1em;
    text-align: center;
    color: white;
    background-color: rgba(95,158,160,0.7);
}

.card {
    display: inline-block;
    margin: 0 100px;
    height: 300px;
    width: 400px;
}

img {
    max-width: 100%;
    height: 200px;
    width: 500px;
}

@media screen and (min-width: 601px) {
    #title {
        font-size: 200px;
    }
}

@media screen and (max-width: 600px) {
    div.example {
        font-size: 30px;
    }
}

.navbar-light {
    background-image: linear-gradient(to right, deepskyblue, midnightblue);
}

.nav-item {
    font-size: 25px;
    margin-right: 30px;
    transition: 5s;
}

@media (max-width:480px) {
    body > .navbar-default {
        background-color: #2c3e50;
    }
}

.carousel-inner img {
    margin: auto;
    width: 1100px !important;
    height: 600px !important;
}

.carousel-inner > .item > img {
    min-width: 100%;
}

.selected {
    color: black;
    font-weight: bolder;
    background-color: cadetblue;
}

.nav-item:hover {
    border-color: rgb(200,102,204);
}

footer {
    background-color: black;
    color: white;
    padding: 45px 0 20px;
}

h6 {
    padding-top: 50px;
}
