body {
    background-image:  linear-gradient(to right, deepskyblue, midnightblue);;
}

a {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 50px;
}

.jumbotron {
    background-image: url("http://2.bp.blogspot.com/_HOCuXB2IC34/TR2rWjhn0jI/AAAAAAAAG0E/OxZc5jXRqAE/s1600/35+sea+creature+%2528www.cute-pictures.blogspot.com%2529.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-fluid {
    background: white;
    text-align: center;
}


.navbar {
    height: 75px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-brand {
    font-size: 30px;
}


p {
    text-align: center;
}

.card-text {
    font-size: 12px;
    text-align: center;
}

#title {
    font-family: 'Kaushan Script', cursive;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(95,158,160,0.7);
    font-size: 10vw;
}

.navbar-light .navbar-toggler {
    background-color: midnightblue;
    border: 2px solid darkblue;
}

.fa-water {
    color: royalblue;
}

.fa-list {
    color: deepskyblue;
}

h3 {
    font-size: 1vw;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(95,158,160,0.7);
}

.card {
    display: inline-block;
    margin: 0 100px;
    height: 300px;
    width: 400px;
}

img {
    max-width: 100%;
    height: 200px;
    width: 500px;
}

.navbar-light {
    background-image: linear-gradient(to right, deepskyblue, midnightblue);
}

.nav-item {
    font-size: 25px;
}

.carousel-inner img {
    margin: auto;
    width: 1100px !important;
    height: 600px !important;
}

.selected {
    color: black;
    font-weight: bolder;
    background-color: cadetblue;
    margin: 25px 25px;
    padding: 3px 3px;
}

.nav-link:hover {
    font-weight: bold;
    color: black;
}
